<%= render '/shared/navbar' %>
<div class="container">
  <div class="new-form-wrapper">
    <%= simple_form_for [@cocktail] do |f| %>
    <%= f.input :name, label: 'Cocktail name' %>
    <div class="buttons-form">
    <%= f.submit "Add a cocktail", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back to cocktail list", cocktails_path, class: "btn btn-primary"%>
    </div>
  </div>


</div>
