<%= render '/shared/navbar' %>
<%= render '/shared/small_banner' %>
<div class="container">
  <div class="form-area">
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name, label: 'Cocktail name', class:"input-area",
      placeholder:'My cocktail' %>
      <%= f.input :category, collection: @categories %>
      <%= f.input :popular%>
      <div class="buttons-recipe">
      <%= f.submit "Create cocktail", class: "btn_gold newcocktail" %>
    <%= link_to "Back to cocktail list", cocktails_path, class: "btn_gold newcocktail"%>
    </div>
    <% end %>
  </div>
</div>

