<% content_for(:title, "#{@cocktail.name}") %>

<%= render '/shared/small_banner' %>
<div class="container" style="margin-top: 100px;">
  <div class="show-wrapper">
    <h2 id="title-index"><%= @cocktail.name.upcase %></h2>
    <div class="separator2"></div>
    <div class="internal-wrapper">
      <div class="ingredients-div">
        <h3>Ingredients:</h3>
        <% @doses.each do |dose| %>
          <p><%= dose.ingredient.name %> : <%= dose.description %></p>
          <% end %>
      </div>
      <div class="instructions-div">
        <h3>How to make it:</h3>
        <p><%= @cocktail.instructions %></p>
      </div>
    </div>
    <% if !user_signed_in? %>
      <div class="bigbuttonshow">
        <%= link_to "Log in and create/edit your own cocktail the way you like!", new_user_session_path%>
      </div>
    <% elsif !policy(@cocktail).owner_or_admin? %>
      <div class="bigbuttonshow">
        <%= link_to "Create your own cocktail and edit it the way you like!", new_cocktail_path%>
      </div>
    <% elsif policy(@cocktail).editing? %>
      <div class="buttons-area">
        <%= link_to "Edit this recipe", editing_path(@cocktail), class: "btn_gold" %>
        <%= link_to "Add Instructions", new_instructions_path(@cocktail), class: "btn_gold" %>
      </div>
    <% end %>

    <div class="bigbuttonshow">
      <%= link_to "Go back to cocktail list", cocktails_path, class: "btn_gold", id:"bigbuttonshow" %>
    </div>
  </div>
</div>


