<%= render '/shared/navbar' %>
<div class="banner-show">
  <%= image_tag "logo.jpg", class: "logo-show"%>
  <h2>A DRINK. BECAUSE NO GREAT STORY EVER BEGAN WITH A SALAD...</h2>
</div>
<div class="container" style="margin-top: 100px;">
  <div class="show-wrapper">
    <h2 id="title-index"><%= @cocktail.name.upcase %></h2>
    <div class="separator2"></div>
    <div class="internal-wrapper">
      <div class="ingredients-div">
        <h3>Ingredients:</h3>
        <% @doses.each do |dose| %>
          <p><%= dose.ingredient.name %> : <%= dose.description %></p>
          <% end %>
      </div>
      <div class="instructions-div">
        <h3>How to make it:</h3>
        <p><%= @cocktail.instructions %></p>
      </div>
    </div>
    <div class="buttons-area">
      <%= link_to "Go back to cocktail list", cocktails_path, class: "btn_gold" %>
    </div>
  </div>
</div>


