<div class="container">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Dose description' %>
  <%= f.association :ingredient, prompt: "Choose an ingredient" %>

  <%= f.submit "add a dose", class: "btn btn-primary" %>


<% end %>
</div>

<%= link_to "Back to list", cocktails_path, class: "btn btn-primary mt-1"%>
