<%= render '/shared/banner' %>
<%= render '/shared/navbar' %>
<div class="message-section container">
  <h2> Make you feel at home & get you drunk is my passion</h2>
  <%= link_to 'Explore my recipes', cocktails_path, class: "btn_gold"%>
</div>


<div class="info-section">
  <div class="left">
    <p>MIXOLOGY</p>
  </div>

  <div class="right">
  </div>
</div>


<div class="subscription-section">
  <%= video_tag "bar.mp4", autoplay: true, loop: true, id: "myVideo", controls: true, muted: true %>
  <div class="quote">
    <h2>"A drink! Because no great story ever began with a salad..."</h2>
    <div class="sepatator"></div>
    <p>Abraham Lincoln</p>
    <p>(ok maybe wasn't him)</p>
    <div class="form-wrapper">
      <p> Do you want to keep up to date? Register your email and get the best recipes ever! </p>
      <%= simple_form_for @user do |f| %>
        <%= f.input :name, label: 'Your full name', error: 'Name is mandatory, please specify one' %>
        <%= f.input :email, placeholder: 'user@domain.com' %>
        <%= f.button :submit, 'Sign up to newsletter', class: 'btn_gold large' %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= link_to 'DOM Manipulation', javascript_path, class: "btn_gold"%>
</div>
