<!DOCTYPE html>
<html>
  <head>
    <!-- Required to measure the screen and use media queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Henderson's Bar</title>
    <!-- Including all types of characters -->
    <meta charset="UTF-8">
    <!-- Required for Progressive Web Apps -->
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <%= render 'shared/ios_pwa_links' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Loading AOS. css animations -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Loading animatedCss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <div class="main-wrapper">
    <%= render '/shared/navbar' %>
    <%= render '/shared/flashes' %>
    <%= yield %>
    </div>

  <%# Loading Green Sock AP %>
  <script>https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js</script>
  <%# Loading custom animation %>
  <%= javascript_pack_tag 'myindex' %>
  <%# Loading AOS animation library %>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset:100,
      duration:1500,
      // mirror:"true",
      easing: "easy-in-linear",
      // When the "bottom" of the element hits the "bottom of the scroll"
      anchorPlacement:"top-bottom"
    });
  </script>
  </body>
</html>
